.contain {
   position: relative;
   height: 100vh;
   width: 100%;
}

.title_cont {
   position: relative;
   padding-block: 40px ;
}

.title {
   color : white;
   text-align: center;
   font-size: 55px;
}

.wrapper {
   display: grid;
   place-items: center;
   margin-top: 16%;
}

.content {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background-color: var(--btn-color);
   
}

.photo {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
}

.photo > img {
   background-color: var(--bg-img);
   backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(8px);
   border: 2px solid var(--border-color);
   width: 80%;
   height: 80%;
   object-fit: cover;
   border-radius: 20px;
}

.description {
   transform: translateX(10%);
   width: 85%;
}

.txt_col {
   display: flex;
   align-items: center;
   width: 90%;
}

.txt_col > h2 {
   font-family: San_Francisco_Light;
   font-size: 60px;
   padding-right: 30px;
   color: white;
   border-radius: 16px;
}


.txt_col > p {
   font-family: San_Francisco_Light;
   font-size: 24px;
   color: var(--color-p);
   letter-spacing: 1px;
   border-radius: 16px;
}


.wrapper {
   position: absolute;
   width: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   outline: none;
   overflow: hidden;
   background-image: -webkit-linear-gradient(117deg, #6a6adc 0, #b2f0b7 63%, #7dc7f0 100%) !important;
   background-image: linear-gradient(117deg, #6a6adc 0, #b2f0b7 63%, #7dc7f0 100%) !important;
   border-radius: 20px; 
   padding:5px;
   
}

/*  ------------------- CSS POINTER WRAPPER ------------------ */
.wrapper::before {
   --size: 0;
   content: '';
   position: absolute;
   left: var(--x);
   top: var(--y);
   width: var(--size);
   height: var(--size);
   background: radial-gradient(circle closest-side,  #7d9ef0 5%, transparent);
   transform: translate(-50%, -50%);
   transition: width 0.2s ease, height 0.2s ease;
   box-shadow: 20px;
}

.wrapper:hover::before {
   --size:180px;
}
