.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
}


.text_style > h1 {
   display: block;
   font-family: San_Francisco_Light;
   color: white;
   white-space: nowrap;
   font-weight: bold;
   font-size: 70px;
   border-right: 4px solid;
   width: 100%;
   text-align: left;
   line-height: 80px;
   animation: typing 2s steps(30),
   blink .5s infinite step-end alternate;
   overflow: hidden;
}

@keyframes typing {
   from { width: 0}
}

@keyframes blink {
   50% { border-color: transparent;}
}

.text_style:hover .hover_text {
   width: 100%;
   transition: all 3s ease;
   color: white;
}

.description {
   background: linear-gradient(to right,#f64f59,#c471ed,#12c2e9);
   -webkit-background-clip : text;
   -webkit-text-fill-color: transparent;
   font-family: San_Francisco_Light;
   font-weight: bold;
   text-align: center;
   font-size: 30px;
   color:#abaaaa;
   text-shadow: none;
}

.contain_btn {
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn_contact > span {
   position: relative;
}
.icon_btn {
   position: absolute;
   right: 0;
   margin-top: 5px;
   margin-right: 15px;
}

.text {
   font-weight: San_Francisco_Italic;
   font-weight: bold;
   font-size: 24px;
   color: white;
}

/* -----ANIMATED ---BTN-COLOR----------- */

.btn_contact {
   display: grid;
   align-items: center;
   font-size: 24px;
   color:white;
   margin-top: 30px;
   background-color: var(--btn-color);
   border:none;
   width: 40%;
   cursor: pointer;
   border-radius: 10px;
   border:3px solid var(--border-color);
   height: 50px;
}
.btn_contact:hover {
   box-shadow: 1px 1px 30px var(--border-color);
   background-color: var(--border-color); 
   font-weight: bold;
   color: black;
   transition: all 500ms ease;
}

.btn_contact:not(:hover) {
   transition: all 500ms ease;

}



