.wrapper {
   position: relative;
   height: 100vh;
   width: 100%;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   color: white;
   height: 10%;
}

.title > h1 {
   font-size: 55px;
}

.list_card {
   display: flex;
   align-items: center;
   align-items: center;
   width: 100%;
   height: 90%;
}

.contain {
   width: 100%;
   height: 80%;
}

.swiper_container {
   width: 100%;
   height: 100%;
   background-color: white;
}
.item {
   color: white;
   position: relative;
   width: 300px;
   padding: 20px;
   height: 300px;
   border-radius: 20px;
   background-color: green;
}
