@font-face {
  font-family: San_Francisco;
  src: url(../public/fonts/San_Francisco/SFProDisplay-Medium.ttf);
}

@font-face {
  font-family: San_Francisco_Light;
  src: url(../public/fonts/San_Francisco/SFProDisplay-Ultralight.ttf);
}

@font-face {
  font-family: San_Francisco_Italic;
  src: url(../public/fonts/San_Francisco/SFProDisplay-UltralightItalic.ttf);
}



* {
  margin: 0;
  padding: 0;
  font-family: San_Francisco_Light;
  letter-spacing: 2px;
  
}
body {
  background-color: rgb(3, 29, 46);
}