.wrapper {
   position: relative;
   width: 100%;
   height: 120vh;   
}

.title_div {
   position: relative;
   width: 100%;
   height: 10%;
   font-size: 25px;
   color:white;
   text-align: center;
}

.content {
   position: relative;
   height: 90%;
   display: grid;
   place-items: center;
}

.education {
   position: relative;
   display: flex;
   width: auto;
   padding: 20px;
   padding-left: 34px;
   text-align: center;
   grid-column: 50% 50%;
   justify-content: space-evenly;

   border-radius: 10px;
   width: 60%; 
   height: 80%;
   background-color: var(--color-primary);
   border: 2px solid var(--border-color) ;
   color:white;
   overflow: hidden;
}

.education:hover {
   transform: scale(1.1);
   border:2px solid #0fcd0b;
   transition: all 300ms ease;
   cursor: pointer;
}

.education:not(:hover) {
   transition:all 300ms ease-in-out;
}

.info {
   position: relative;
   color: white;
   display: grid;
   place-items: center;
   width: 100%;
}

.info > p {
   padding-top: 20px;
}

.info > h1 {
   font-size: 34px;
}

.info > p {
   margin-top: -20px;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40%;
}
.logo > img {
   position: absolute;
   width: 70%;
   bottom: 10px;
   filter: opacity(0.25) drop-shadow(10px 10px 10px #000000);

}


@media (max-width:1045px){
   .education {
      width: 80%;
   }
}


@media (max-width:800px){
   .education {
      width: 90%;
   }
}



@media (max-width:685px){
   .education {
      width: 80%;
   }
   .info > h1 {
   }
   .info > p {
      font-size: 21px;
      display: none;
   }

   .education:hover {

   }

}
